

<nav class="navbar navbar-expand-md" style="padding-top: 2%;">
    
    <a href="#" class="navbar-brand">
        APMNS
    </a>
  
    <button class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#mnav">
      <span class="navbar-toggler-icon" style=" background-color: grey;"><strong>click</strong></span>
    </button>
    <div class="collapse navbar-collapse" id="mnav">
      <ul class="navbar-nav ms-auto">
        
              <li class="nav-item middle"><a class="nav-link" href="#"><strong>Individuals</strong></a></li>
              <li class="nav-item middle"><a class="nav-link" href="#"><strong>Team</strong></a></li>
              <li class="nav-item middle" ><a class="nav-link" href="#"><strong>Enterprice</strong></a></li>
              <li class="nav-item middle"><a class="nav-link" href="#"><strong>Pricing</strong></a></li>
              
            <li class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><strong>Resources</strong></a>
                  <div class="dropdown-menu">
                    <a href="" class="dropdown-item"><strong>Individuals</strong></a>
                    <a href="" class="dropdown-item"><strong>Individuals</strong></a>
                    <a href="" class="dropdown-item"><strong>Individuals</strong></a>
                  </div>
                </li>
             </ul>
             <ul class="navbar-nav ms-auto" style="padding-right: 15px;">
                <li class="nav-item middle"><a class="nav-link" href="#"><strong>Log in</strong></a></li> <br>        
                <li class="nav-item middle"><button class="btn"><a class="nav-link regi" href="#">Register</a></button></li>
             </ul>
    </div>
  
  </nav>
  

<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-md-3"></div>
    </div>
</div>






<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header justify-content-center ">
                <h3 class="modal-title" style="color: rgb(59, 215, 243);">Sign Up</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div *ngIf="!submitted" class="modal-body">
                <form>
                    <div class="form-floating">
                        <label for="firstname" style="color: rgb(143, 218, 218)">Firstname</label>
                        <input type="text" class="form-control form-rounded" id="firstname" required
                            [(ngModel)]="register.firstname" name="firstname" />
                    </div>
                    <div class="form-floating">
                        <label for="lastname" style="color: rgb(143, 218, 218)">Lastname</label>
                        <input type="text" class="form-control form-rounded" id="lastname" required
                            [(ngModel)]="register.lastname" name="lastname" />
                    </div>


                    <div class="form-floating">
                        <label for="email" style="color:rgb(143, 218, 218)">email</label>
                        <input type="text" class="form-control form-rounded" id="email" required
                            [(ngModel)]="register.email" name="email" />
                    </div>

                    <div class="form-floating">
                        <label for="dob" style="color:rgb(143, 218, 218)">phone</label>
                        <input type="number" class="form-control form-rounded " id="phone" required
                            [(ngModel)]="register.phone" name="phone" />
                    </div>

                    <div class="form-floating">
                        <label for="password" style="color:rgb(143, 218, 218)">password</label>
                        <input placeholder="" type="password" class="form-control form-rounded" id="password" required
                            [(ngModel)]="register.password" name="password" />
                    </div>

                    <button type="submit" (click)="saveUser()" class="btn btn-danger" id="su">
                        SignUp
                    </button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-center ">
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
            <div *ngIf="submitted" data-bs-dismiss="modal"></div>

        </div>
    </div>
</div>