a{
  color: black;
}
.btn {
  background-color: rgb(0, 107, 255);;
  border: none;
  font-weight: bold;
  opacity: 1;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 2px;
  border-radius: 70px;
}
.regi{
  color: white;
}