<div id="login" class="container-fluid main_container text-white d-flex">

    <div class="row flex-fill">
        <div class="col-sm-6">
            <img src="../../../assets/t4.jpg" class="img-fluid" alt="Responsive image">
        </div>

        <div class="col-sm-6 h-100" style="background: white">
            <div style="padding-top: 2.5%">
            </div>
            <div class="submit-form" style="padding-top: 5.5%">

                < <div class="card">

                    <hr>
                    <div class="card-body">
                        <div *ngIf="!submitted">
                            <div class="card-header" style="
                        background: white;
                        color: #a0474e;
                        text-align: center;
                        font-size: 45px;
                        font-family: 'PT Mono', monospace;
                      ">
                                <strong>Login Form</strong>
                            </div>

                            <div class="form-group">
                                <label for="phone" style="color: rgb(248, 9, 9)">Username:</label>
                                <input placeholder="" type="text" class="form-control" id="username" required
                                    [(ngModel)]="user.username" name="username" />
                            </div>

                            <div class="form-group">
                                <label for="password" style="color: rgb(248, 9, 9)">Password:</label>
                                <input placeholder="" type="password" class="form-control" id="password" required
                                    [(ngModel)]="user.password" name="password" />
                            </div>

                            <button (click)="saveUser();" class="btn btn-primary">Login</button>
                        </div>

                        <div style="color: rgb(248, 9, 9); cursor: pointer; padding-top: 1%;">
                            Don't have an account? click here to Register
                            <div class="float-right" style="color: rgb(218, 11, 21); cursor: pointer; padding: 0%;">
                                Forgot password?
                            </div>
                        </div>

                    </div>
            </div>

        </div>
    </div>
</div>
</div>